API/.metadata/
API/l3api/.settings/
API/l3api/.project
API/l3api/.classpath

API/l3api/.gitignore
API/l3api/build/
API/l3api/bin/
API/l3api/BIN/

API/l3api/.gradle/

*.log


API/l3api/HELP.md




.DS_Store
Thumbs.db
